<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wild And Wizard</title>
</head>
<body>
<h1>Wild And Wizard</h1>
<section>
    <h3>Update a Wizard:</h3>
    <form action="/wizard/update" method="get">
        <label>Search by id:</label>
        <input name="id" placeholder="1" required type="text">
        <input type="submit" value="Send">
    </form>
</section>
<section>
    <h3>Update a School:</h3>
    <form action="/school/update" method="get">
        <label>Search by id:</label>
        <input name="id" placeholder="1" required type="text">
        <input type="submit" value="Send">
    </form>
</section>
</body>
</html>